<!-- Navigation bar partial -->
<nav>
    <div class="nav-wrapper grey darken-4">
      <div class="row">
      <a href="/" id="title" class="brand-logo">eMusic Lessons</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
        <li><span>Signed in as </span><span><%= current_user.first_name.titlecase %></span></li>
        <li><%= link_to "Sign out", signout_path %></li>
        <% else %>
        <li><%= link_to "Facebook Login", "/auth/facebook" %></li>
        <li><%= link_to "Email Login", "/login" %></li>
        <li><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>
      <% if current_user %>
        <img id="profile" class="circle responsive-img right" src=<%= current_user.image %>>
      <% end %>

      </div>
    </div>
  </nav>

