<!DOCTYPE html>
<html ng-app="emlApp">
<head>
  <title>ElectronicMusicLessons</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

    <header>
      <!-- Render navigation bar on all pages -->
      <%= render 'layouts/navigation' %>
    </header>
    

    <main role="main">

    <%= yield %>
        
    </main>


    <!-- Render footer on all pages -->
    <%= render 'layouts/footer' %>

  </body>
</html>
